.search-form {
  display: flex;
  align-items: baseline;
  justify-content: center;

  .input {
    width: 150px;
    padding: 7px;
    margin-bottom: 10px;
    margin-right: 10px;

    text-align: center;
    font-size: 15px;

    border: solid 1px green;
    border-radius: 4px;
  }
}
